.container {
  width: 100vw;
  height: 75vh;
  display: flex; /* or display: block; */
  flex-direction: column;
  justify-content: center; /* optional, for additional centering */
  align-items: center;
}

.nextImage {
  margin: 0 auto;
}
.customButton {
  cursor: pointer;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  font-family: arial, sans-serif;
  font-size: 14px;
}
